*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body{
    list-style: none;
    background: url(/img/wallpaperflare.com_wallpaper.jpg) no-repeat;
    width: 100%;
    background-attachment:fixed;
    background-size: cover; 
    /* filter: invert(100%); */

}


/* .nav{
    background-color: lightgree;
} */

/* .navcontainer{
    position: fixed;
} */

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
}

li {
    list-style: none;
    list-style: none;
    margin: 5px 3%;
}


li a{
    text-decoration: none;
    font-size: 30px;
}

li a:hover{
    color: crimson;
    /* font-size: 35px; */
}

.heading{
    font-size: 30px;
    margin: 14px 0px 14px 15px;

}

.second
 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.s1{
    font-size: 25px;
    margin-top: 20px;
}
.elements{
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    justify-content: space-between;
    align-items: center;
}

.appdesc {
    text-align: justify;
    /* width: 12%; */
    margin: 20px 5px;
}

.appdesc p{
    word-break: break-all;
    width: 150px;
}

.install{
    background-color: transparent;
    border: 1px solid crimson;
    border-radius: 12px;
    padding: 3px 43px;
    font-size: 25px;
    cursor: pointer;
}

.install:hover{
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
}

.three
 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.appcontainer{
    display: flex;
    flex-direction: column;
}
/* .secondcontainer{
    display: flex;
} */

.mastercontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.maincontainer{
    display: flex;
    flex-direction: column;
}
.secondcontainer{
    display: flex;
}
.thirdcontainer{
    display: flex;
}
.appicon{
    margin-right: 10px;
}

.mario{
    width: 48px;
    height: 48px;
}

.second_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.topfreecontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}